<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
       <add key="PortName" value="COM1" />
       <add key="BaudRate" value="9600" />
       <add key="DataBits" value="8" />

       <add key="Server" value="." />
       <add key="Database" value="DbTesting" />
       <add key="Code" value="Testing" />
       <add key="DbUser" value="testing" />
       <add key="DbPass" value="testing" />

       <add key="StartChar" value="$1" />
       <add key="EndChar" value="\r\n" />

       <add key="Log" value="false" />
   </appSettings>
</configuration>